@import 'utilities.states';

@mixin button-color {
  color: var(--button-color);
  background: var(--button-background);
  border: 1px solid transparent;

  &.c-button--active {
    filter: brightness(0.95);
  }

  &:not(:disabled, [disabled]) {
    &:not(:active) {
      &:hover {
        filter: brightness(0.95);
      }
    }

    &:focus {
      border-color: var(--border-color-focus);
      box-shadow: var(--box-shadow-focus);
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}

@mixin button-ghost {
  border: 1px solid var(--button-color);

  &.c-button--active {
    color: var(--button-color--ghost-hover);
    background: var(--button-color);
    border-color: 1px solid transparent;
  }

  &:not(:disabled, [disabled]) {
    &:not(:active) {
      &:hover {
        color: var(--button-color--ghost-hover);
        background: var(--button-color);
        border-color: 1px solid transparent;
      }
    }

    &:focus {
      border-color: var(--border-color-focus);
      box-shadow: var(--box-shadow-focus);
    }

    &:active,
    &[aria-current] {
      color: var(--button-color--ghost-hover);
      background: var(--button-color);
      border-color: 1px solid transparent;
    }
  }
}

@mixin button {
  @include button-color;
  @include disabled;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: var(--spacing-small);
  overflow: hidden;
  font-size: 1em;
  font-family: inherit;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-radius: var(--border-radius);
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  user-select: none;
}

@mixin button-nude {
  @include disabled;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;

  &:not(:disabled, [disabled]) {
    &:not(:active) {
      &:focus {
        border-color: var(--border-color-focus);
        box-shadow: var(--box-shadow-focus);
      }
    }
  }
}
