@mixin range-track {
  width: 100%;
  height: 10px;
  border: 0;
  border-radius: var(--range-track-border-radius);
  box-shadow: none;
}

@mixin range-track-ms {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

@mixin range-fill-ms {
  background-color: var(--color-2);
  border: 0;
  border-radius: var(--range-track-border-radius);
  box-shadow: none;
}

@mixin range-thumb {
  width: 20px;
  height: 20px;
  margin: -5px 0 0;
  background: var(--range-handle-background);
  border: 0;
  border-radius: var(--range-handle-border-radius);
  box-shadow: var(--range-handle-box-shadow);
}

@mixin range-thumb-focus {
  border-color: var(--border-color-focus);
  box-shadow: var(--box-shadow-focus), var(--range-handle-box-shadow);
}

@mixin range-thumb-webkit {
  appearance: none;
}

@mixin range-thumb-active {
  transform: scale(1.4);
}

@mixin range-disabled {
  background-color: var(--color-disabled-background);
  cursor: not-allowed;
}

.c-range[type='range'] {
  width: 100%;
  padding: var(--spacing-small) 0;
  outline: 0;
  appearance: none;
  background: transparent;

  &.c-range--brand {
    --range-track-color: var(--range-track-color--brand);
  }

  &.c-range--info {
    --range-track-color: var(--range-track-color--info);
  }

  &.c-range--warning {
    --range-track-color: var(--range-track-color--warning);
  }

  &.c-range--success {
    --range-track-color: var(--range-track-color--success);
  }

  &.c-range--error {
    --range-track-color: var(--range-track-color--error);
  }

  &:not(:disabled) {
    &::-webkit-slider-runnable-track {
      background: var(--range-track-color);
    }

    &::-moz-range-track {
      background: var(--range-track-color);
    }

    &::-ms-track {
      background: var(--range-track-color);
    }
  }

  &:not(:disabled):active {
    &::-webkit-slider-thumb {
      transform: scale(1.4);
    }

    &::-moz-range-thumb {
      transform: scale(1.4);
    }

    &::-ms-thumb {
      transform: scale(1.4);
    }
  }

  &:focus {
    &::-webkit-slider-thumb {
      @include range-thumb-focus;
    }

    &::-moz-range-thumb {
      @include range-thumb-focus;
    }

    &::-ms-thumb {
      @include range-thumb-focus;
    }
  }

  &:disabled {
    &::-webkit-slider-thumb {
      @include range-disabled;
    }

    &::-webkit-slider-runnable-track {
      @include range-disabled;
    }

    &::-moz-range-thumb {
      @include range-disabled;
    }

    &::-moz-range-track {
      @include range-disabled;
    }

    &::-ms-thumb {
      @include range-disabled;
    }

    &::-ms-track {
      @include range-disabled;
    }
  }
}

.c-range::-webkit-slider-runnable-track {
  @include range-track;
}

.c-range::-webkit-slider-thumb {
  @include range-thumb;
  @include range-thumb-webkit;
}

.c-range::-moz-range-track {
  @include range-track;
}

.c-range::-moz-range-thumb {
  @include range-thumb;
}

.c-range::-ms-track {
  @include range-track;
  @include range-track-ms;
}

.c-range::-ms-fill-lower,
.c-range::-ms-fill-upper {
  @include range-fill-ms;
}

.c-range::-ms-thumb {
  @include range-thumb;
}
