.c-progress {
  display: block;
  overflow: hidden;
  text-align: center;
  background: var(--progress-background);
  border: 0;
  border-radius: var(--progress-border-radius);

  &.c-progress--rounded {
    border-radius: var(--border-radius-rounded);
  }

  &.c-progress--timer {
    --border-radius: 0;
    height: 3px;

    .c-progress__bar[role='progressbar'] {
      width: 0;
      animation-name: slide;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }

    @keyframes slide {
      from {
        width: 0;
      }

      95% {
        width: 100%;
        opacity: 1;
      }

      100% {
        width: 100%;
        opacity: 0;
      }
    }
  }

  .c-progress__bar[role='progressbar'] {
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    color: var(--progress-bar-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    background: var(--progress-bar-background);
    border-radius: 0;

    &::after {
      color: transparent !important;
      content: '-';
    }

    &.c-progress__bar--brand {
      --progress-bar-background: var(--progress-bar-background--brand);
      --progress-bar-color: var(--progress-bar-color--brand);
      --progress-background: var(--progress-background--brand);
    }

    &.c-progress__bar--info {
      --progress-bar-background: var(--progress-bar-background--info);
      --progress-bar-color: var(--progress-bar-color--info);
      --progress-background: var(--progress-background--info);
    }

    &.c-progress__bar--warning {
      --progress-bar-background: var(--progress-bar-background--warning);
      --progress-bar-color: var(--progress-bar-color--warning);
      --progress-background: var(--progress-background--warning);
    }

    &.c-progress__bar--success {
      --progress-bar-background: var(--progress-bar-background--success);
      --progress-bar-color: var(--progress-bar-color--success);
      --progress-background: var(--progress-background--success);
    }

    &.c-progress__bar--error {
      --progress-bar-background: var(--progress-bar-background--error);
      --progress-bar-color: var(--progress-bar-color--error);
      --progress-background: var(--progress-background--error);
    }
  }
}
