.c-tooltip {
  position: relative;
  overflow: visible;

  &::before,
  &::after {
    z-index: var(--z-over-page);
    visibility: hidden;
  }

  &::before {
    position: absolute;
    border: 0.6em solid transparent;
    content: '';
  }

  &::after {
    position: absolute;
    padding: 0.25em 0.5em;
    color: var(--tooltip-color);
    line-height: 1.45;
    white-space: nowrap;
    background: var(--tooltip-background);
    border: 1px solid var(--tooltip-background);
    border-radius: var(--tooltip-border-radius);
    visibility: hidden;
    content: attr(aria-label);
  }

  &:hover::before,
  &:hover::after {
    visibility: visible;
  }
}

.c-tooltip--top {
  &::before {
    top: 0%;
    left: 50%;
    border-top-color: var(--tooltip-background);
    transform: translate(-50%, -1em);
  }

  &::after {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -3em);
  }
}

.c-tooltip--right {
  &::before {
    top: 50%;
    left: 100%;
    border-right-color: var(--tooltip-background);
    transform: translate(0, -50%);
  }

  &::after {
    top: 50%;
    left: 100%;
    transform: translate(1em, -50%);
  }
}

.c-tooltip--bottom {
  &::before {
    bottom: 0;
    left: 50%;
    border-bottom-color: var(--tooltip-background);
    transform: translate(-50%, 1em);
  }

  &::after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 3em);
  }
}

.c-tooltip--left {
  &::before {
    top: 50%;
    right: 100%;
    border-left-color: var(--tooltip-background);
    transform: translate(0, -50%);
  }

  &::after {
    top: 50%;
    right: 100%;
    transform: translate(-1em, -50%);
  }
}
