@import 'mixins/objects.grid';

.c-toggle {
  @include grid;
  @include grid--center;

  width: auto;
  user-select: none;

  input:not(:checked) + .c-toggle__track {
    background: var(--toggle-track-color--unchecked);

    .c-toggle__handle {
      transform: translateZ(0);
    }
  }

  input:disabled + .c-toggle__track {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);

    .c-toggle__handle {
      cursor: not-allowed;
      opacity: var(--disabled-opacity);
    }
  }

  input:active + .c-toggle__track,
  input:focus + .c-toggle__track {
    border-color: var(--border-color-focus);
    box-shadow: var(--box-shadow-focus);

    .c-toggle__handle {
      border-color: var(--border-color-focus);
      box-shadow: var(--box-shadow-focus), var(--toggle-handle-box-shadow);
    }
  }
}

.c-toggle--brand .c-toggle__track {
  --toggle-track-color: var(--toggle-track-color--brand);
}

.c-toggle--info .c-toggle__track {
  --toggle-track-color: var(--toggle-track-color--info);
}

.c-toggle--warning .c-toggle__track {
  --toggle-track-color: var(--toggle-track-color--warning);
}

.c-toggle--success .c-toggle__track {
  --toggle-track-color: var(--toggle-track-color--success);
}

.c-toggle--error .c-toggle__track {
  --toggle-track-color: var(--toggle-track-color--error);
}

.c-toggle input {
  position: absolute;
  opacity: 0;
}

.c-toggle__track {
  @include grid__cell;
  @include grid__cell--width-fixed;

  position: relative;
  width: 1em;
  height: 0.5em;
  margin: 0 0.5em;
  background: var(--toggle-track-color);
  border-radius: var(--toggle-track-border-radius);
}

.c-toggle__handle {
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 1em;
  height: 1em;
  background: var(--toggle-handle-background);
  border-radius: var(--toggle-handle-border-radius);
  box-shadow: var(--toggle-handle-box-shadow);
  transform: translateX(100%);
}
