.c-tags {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 100%;
  text-align: left;
}

.c-tags__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-tiny);
}

.c-tag {
  position: relative;
}

.c-tags__field-container {
  min-width: 33%;
  margin: var(--spacing-tiny);
}
