@import 'mixins/objects.grid';

.c-table {
  @include grid;
  @include grid--wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.c-table__caption {
  @include grid;
  @include grid__cell--full;
  max-width: 100%;
  padding: var(--spacing-small) 0;
  color: var(--table-caption-color);
  font-size: var(--text-font-size-small);
  text-align: left;
}

.c-table__row,
.c-table__head,
.c-table__body {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  max-width: 100%;
}

.c-table--striped :not(.c-table__row--heading).c-table__row:nth-of-type(odd) {
  color: inherit;
  background: var(--table-striped-background);
}

.c-table__cell {
  display: flex;
  flex: 1;
  padding: var(--spacing-small);
  overflow: auto;
  text-align: left;
}

.c-table__row--heading .c-table__cell {
  display: flex;
  flex: 1;
  color: inherit;
  font-weight: var(--text-font-weight-heavy);
  font-size: var(--text-font-size-medium);
  background: var(--table-heading-background);
  border-bottom: var(--table-heading-border);
}

.c-table--clickable :not(.c-table__row--heading).c-table__row:hover .c-table__cell,
.c-table__row--clickable:hover .c-table__cell {
  color: var(--table-row-color--clickable);
  background: var(--table-row-background--clickable);
}

.c-table__row--disabled .c-table__cell {
  color: var(--table-row-color--disabled);
  background: var(--table-row-background--disabled);
  cursor: default;
}

.c-table--clickable :not(.c-table__row--heading).c-table__row--disabled:hover .c-table__cell,
.c-table__row--disabled:hover .c-table__cell {
  color: var(--table-row-color--disabled);
  background: var(--table-row-background--disabled);
  cursor: not-allowed;
}

.c-table--condensed {
  font-size: var(--text-font-size-small);

  .c-table__cell {
    padding: var(--spacing-xsmall);
  }
}
