@import 'mixins/objects.grid';
@import 'mixins/components.buttons';

.c-calendar {
  @include grid;
  @include grid--wrap;
  @include grid--center;
  @include grid__cell--no-gutter;
  z-index: var(--z-over-control);
  max-width: 400px;
  padding: var(--spacing-medium);
  text-align: center;
  background: var(--calendar-background);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.c-calendar__control,
.c-calendar__date {
  --button-color: var(--calendar-control-color--date);
  --button-background: var(--calendar-control-background--date);

  @include button-color;
  display: inline;
  flex: 0 0 12%;
  max-width: 12%;
  margin: 1.1%;
  padding: 2.5% 0;
  font-size: var(--text-font-size-medium);
  border-radius: var(--border-radius);
  outline: 0;
  user-select: none;

  &:hover {
    --button-color: var(--calendar-control-color--hover) !important;
    --button-background: var(--calendar-control-background--hover) !important;
  }
}

.c-calendar__control {
  --button-color: var(--calendar-control-color);
  --button-background: var(--calendar-control-background);
}

.c-calendar__header {
  @include grid__cell;
  @include grid__cell--no-gutter;
  @include grid__cell--width(71.5%);
  padding: var(--spacing-small) 0;
}

.c-calendar__day {
  @include grid__cell;
  @include grid__cell--no-gutter;
  flex: 0 0 12%;
  max-width: 12%;
  margin: 1.1%;
  padding: var(--spacing-small) 0;
  font-weight: var(--text-font-weight-heavy);
}

.c-calendar__date--in-month {
  --button-color: var(--calendar-control-color--in-month);
  --button-background: var(--calendar-control-background--in-month);
}

.c-calendar__date[aria-current='date'] {
  --button-color: var(--calendar-control-color--current);
  --button-background: var(--calendar-control-background--current);

  border-color: var(--calendar-control-border-color--current);
}

.c-calendar__date--selected[aria-selected='true'] {
  --button-color: var(--calendar-control-color--selected);
  --button-background: var(--calendar-control-background--selected);

  border-color: var(--calendar-control-border-color--selected);
}

.c-calendar__footer {
  width: 100%;
  padding-top: var(--spacing-large);
}
