@import 'mixins/utilities.states';
@import 'mixins/utilities.visibility';

@mixin link--color {
  @include disabled;
  color: var(--link-color);
  background: var(--link-background);

  &:not(:disabled) {
    &:visited {
      opacity: 0.9;
    }

    &:hover {
      background: var(--link-background--hover);
      opacity: 0.9;
    }

    &:active {
      background: var(--link-background--hover);
      opacity: 0.8;
    }
  }
}

a.c-link,
.c-link[role='link'] {
  @include link--color;

  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .c-link--skip {
    @include visually-hidden;

    top: 0;
    left: 0;
    z-index: var(--z-over-everything);

    &:active,
    &:focus {
      width: auto;
      height: auto;
      overflow: auto;
      clip-path: none;
    }
  }

  &.c-link--brand {
    --link-color: var(--link-color--brand);
    --link-background: var(--link-background--brand);
    --link-background--hover: var(--link-background--brand-hover);
  }

  &.c-link--info {
    --link-color: var(--link-color--info);
    --link-background: var(--link-background--info);
    --link-background--hover: var(--link-background--info-hover);
  }

  &.c-link--warning {
    --link-color: var(--link-color--warning);
    --link-background: var(--link-background--warning);
    --link-background--hover: var(--link-background--warning-hover);
  }

  &.c-link--success {
    --link-color: var(--link-color--success);
    --link-background: var(--link-background--success);
    --link-background--hover: var(--link-background--success-hover);
  }

  &.c-link--error {
    --link-color: var(--link-color--error);
    --link-background: var(--link-background--error);
    --link-background--hover: var(--link-background--error-hover);
  }
}
