.c-badge {
  display: inline-block;
  margin: 0;
  padding: var(--spacing-xsmall) var(--spacing-small);
  color: var(--badge-color);
  font-weight: var(--text-font-weight-heavy);
  font-size: 0.8em;
  line-height: 1.2;
  background: var(--badge-background);
  border: var(--border-width) var(--border-style) var(--badge-border-color);
  border-radius: var(--border-radius);

  &.c-badge--ghost {
    color: var(--badge-color--ghost);
    background: transparent;
    border-color: var(--badge-border-color--ghost);
  }
}

.c-badge--rounded {
  border-radius: var(--border-radius-rounded);
}

.c-badge--brand {
  color: var(--badge-color--brand);
  background: var(--badge-background--brand);
  border-color: var(--badge-border-color--brand);

  &.c-badge--ghost {
    color: var(--badge-color--brand-ghost);
    border-color: var(--badge-border-color--brand-ghost);
  }
}

.c-badge--info {
  color: var(--badge-color--info);
  background: var(--badge-background--info);
  border-color: var(--badge-border-color--info);

  &.c-badge--ghost {
    color: var(--badge-color--info-ghost);
    border-color: var(--badge-border-color--info-ghost);
  }
}

.c-badge--warning {
  color: var(--badge-color--warning);
  background: var(--badge-background--warning);
  border-color: var(--badge-border-color--warning);

  &.c-badge--ghost {
    color: var(--badge-color--warning-ghost);
    border-color: var(--badge-border-color--warning-ghost);
  }
}

.c-badge--success {
  color: var(--badge-color--success);
  background: var(--badge-background--success);
  border-color: var(--badge-border-color--success);

  &.c-badge--ghost {
    color: var(--badge-color--success-ghost);
    border-color: var(--badge-border-color--success-ghost);
  }
}

.c-badge--error {
  color: var(--badge-color--error);
  background: var(--badge-background--error);
  border-color: var(--badge-border-color--error);

  &.c-badge--ghost {
    color: var(--badge-color--error-ghost);
    border-color: var(--badge-border-color--error-ghost);
  }
}
