@import 'mixins/components.buttons';

.c-button {
  @include button;

  &.c-button--close {
    --button-color: inherit;
    --button-background: transparent;

    @include button-color;

    position: absolute;
    right: var(--spacing-small);
    padding: 0;
    font-weight: var(--text-font-weight-heavy);
    font-size: 1.4em;
    line-height: 1;
    outline: 0;
  }

  &.c-button--block {
    display: inline-block;
    width: 100%;
  }

  &.c-button--rounded {
    border-radius: var(--border-radius-rounded);
  }

  &.c-button--brand {
    --button-color: var(--button-color--brand);
    --button-background: var(--button-background--brand);
  }

  &.c-button--info {
    --button-color: var(--button-color--info);
    --button-background: var(--button-background--info);
  }

  &.c-button--warning {
    --button-color: var(--button-color--warning);
    --button-background: var(--button-background--warning);
  }

  &.c-button--success {
    --button-color: var(--button-color--success);
    --button-background: var(--button-background--success);
  }

  &.c-button--error {
    --button-color: var(--button-color--error);
    --button-background: var(--button-background--error);
  }

  &.c-button--ghost {
    --button-color: var(--button-color--ghost);
    --button-background: var(--button-background--ghost);

    @include button-ghost;

    &.c-button--brand {
      --button-color: var(--button-color--brand-ghost);
      --button-background: var(--button-background--brand-ghost);
    }

    &.c-button--info {
      --button-color: var(--button-color--info-ghost);
      --button-background: var(--button-background--info-ghost);
    }

    &.c-button--warning {
      --button-color: var(--button-color--warning-ghost);
      --button-background: var(--button-background--warning-ghost);
    }

    &.c-button--success {
      --button-color: var(--button-color--success-ghost);
      --button-background: var(--button-background--success-ghost);
    }

    &.c-button--error {
      --button-color: var(--button-color--error-ghost);
      --button-background: var(--button-background--error-ghost);
    }
  }

  &.c-button--nude {
    @include button-nude;
  }
}

.c-button__icon-left {
  padding-right: var(--spacing-small);
}

.c-button__icon-right {
  padding-left: var(--spacing-small);
}
