.c-alerts[role='presentation'] {
  z-index: var(--z-over-page);
  display: block;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

.c-alerts--topleft,
.c-alerts--topright,
.c-alerts--bottomleft,
.c-alerts--bottomright {
  position: fixed;
  width: 250px;
}

.c-alerts--topleft {
  top: var(--spacing-medium);
  left: var(--spacing-medium);
}

.c-alerts--topright {
  top: var(--spacing-medium);
  right: var(--spacing-medium);
}

.c-alerts--bottomleft {
  bottom: 0;
  left: var(--spacing-medium);
}

.c-alerts--bottomright {
  right: var(--spacing-medium);
  bottom: 0;
}

.c-alert[role='alert'] {
  position: relative;
  margin: var(--spacing-medium);
  padding: var(--spacing-medium) var(--spacing-super) var(--spacing-medium) var(--spacing-medium);
  color: var(--alert-color);
  background: var(--alert-background);
  border-radius: var(--border-radius);

  .c-link {
    color: var(--alert-link-color);
  }

  .c-button--close {
    --button-color: var(--alert-close-color);
  }

  &.c-alert--brand {
    color: var(--alert-color--brand);
    background: var(--alert-background--brand);

    .c-link {
      color: var(--alert-link-color--brand);
    }

    .c-button--close {
      --button-color: var(--alert-close-color--brand);
    }
  }

  &.c-alert--info {
    color: var(--alert-color--info);
    background: var(--alert-background--info);

    .c-link {
      color: var(--alert-link-color--info);
    }

    .c-button--close {
      --button-color: var(--alert-close-color--info);
    }
  }

  &.c-alert--warning {
    color: var(--alert-color--warning);
    background: var(--alert-background--warning);

    .c-link {
      color: var(--alert-link-color--warning);
    }

    .c-button--close {
      --button-color: var(--alert-close-color--warning);
    }
  }

  &.c-alert--success {
    color: var(--alert-color--success);
    background: var(--alert-background--success);

    .c-link {
      color: var(--alert-link-color--success);
    }

    .c-button--close {
      --button-color: var(--alert-close-color--success);
    }
  }

  &.c-alert--error {
    color: var(--alert-color--error);
    background: var(--alert-background--error);

    .c-link {
      color: var(--alert-link-color--error);
    }

    .c-button--close {
      --button-color: var(--alert-close-color--error);
    }
  }
}
