html,
:root,
:host {
  box-sizing: border-box;
  line-height: 1.15;
  text-size-adjust: 100%;
  background: var(--color-background);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--color-background);
}
